.TheCompany {
  padding: 100px 60px;
  display: flex;
  gap: 10px;
}
.container {
  padding: 8px 88px;
  width: 90%;
  position: relative;
}
.textContainer {
  direction: rtl;
  display: flex;
  padding: 56px 24px 32px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  border: 1px solid #2020263d;
  opacity: 0.7;
  background: #fff;
}

.textContainer p {
  color: #202026de;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.img1 {
  position: absolute;
  top: 0;
  right: 66px;
}
.img2 {
  position: absolute;
  bottom: 0;
  left: 66px;
}
.profile {
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 24px;
  font-weight: 600;
  color: #202026de;
}
@media screen and (max-width: 768px) {
  .TheCompany {
    padding: 32px 8px;
    gap: 0px;
  }
  .container {
    padding: 4px 8px;
    width: 100%;
  }
  .textContainer {
    padding: 16px 12px;
    gap: 8px;
    border-radius: 16px;
  }
  .textContainer p {
    font-size: 0.7em;
  }
  .img1 {
    width: 30px;
    height: 30px;
    top: -5px;
    right: 0;
  }
  .img2 {
    width: 30px;
    height: 30px;
    bottom: -5px;
    left: 0;
  }
  .name {
    font-size: 0.8em;
  }
}
