.LpOptionContainer {
  height: 440px;
  width: 100%;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LpOption img {
  width: 25%;
}
.title {
  color: #202026de;
  text-align: start;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin: 10px 0;
}
.text {
  direction: rtl;
  color: #20202699;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.text span {
  color: #049dd9;
}
.LpOptionButtonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #012840;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}
