.LpOptionContainer {
  padding: 16px 8px;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #202026de;
  text-align: start;
  font-weight: 700;
  font-size: 3em;
  margin: 10px 0;
}
@media screen and (max-width: 678px) {
  .title {
    font-size: 2em;
    margin: 0;
  }
  .text {
    font-size: 1em;
  }
}
.text {
  direction: rtl;
  color: #20202699;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.text span {
  color: #049dd9;
}
.LpOptionButtonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #012840;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #02436c;
}
