.projectPricingExamples {
  padding: 88px 60px;
  background-color: #eaf0f1;
  text-align: center;
  position: relative;
}
.models {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.projectPricingExamples p {
  margin: 24px;
  color: #20202699;
}
.backgroundImg {
  height: 60%;
  position: absolute;
  left: 0;
  z-index: 1;
}
/* Miniature */
/* ***************** */
.MiniatureModel {
  display: flex;
  width: 50%;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 32px;
  background: #fff;
  border: 1px solid #20202629;
  gap: 8px;
  z-index: 2;
}
.MiniatureModel div {
  display: flex;
  direction: rtl;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.MiniatureModel div p {
  margin: 4px;
  font-size: 12px;
  color: #20202699;
}
.MiniatureModel p {
  font-size: 14px;
  font-weight: 700;
  color: #049dd9;
  margin: 4px;
}
.MiniatureModel h5 {
  font-size: 22px;
  color: #20202699;
  margin-bottom: 8px;
}
/* Master */
/* ****************** */
.MasterModel {
  width: 100%;
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  background: #012840;
  border-radius: 32px;
  direction: rtl;
}
.MasterModel p {
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #c0ecf5;
}
.MasterModel button {
  background: #049dd9;
  color: white;
  padding: 8px 16px;
}
.MasterModel h5 {
  font-size: 35px;
  font-weight: 900;
  color: white;
  margin-bottom: 5px;
}
.MasterModel div p {
  margin: 6px;
  font-size: 15px;
  color: #fff;
}
.MasterModel div {
  display: flex;
  direction: rtl;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button {
  width: 100%;
  color: #049dd9;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 24px;
  border: 1px solid #049dd9;
  background: white;
  padding: 8px 16px;
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .projectPricingExamples {
    padding: 32px 16px;
  }
  .models {
    flex-direction: column;
    gap: 8px;
  }
  .backgroundImg {
    height: 20%;
    width: 100%;
  }
  .MiniatureModel {
    width: 100%;
  }
  .MasterModel h5 {
    font-size: 25px;
  }
}
