.whyContainer {
  display: flex;
  padding: 60px 30px;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* background-color: var(--background); */

  background-color: var(--background-3);
}
.text {
  width: 80%;
  color: var(--text-color-2);
  text-align: center;
  font-weight: 500;
}
.container {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.whyIcons {
  width: 20%;
  height: 70%;
  direction: ltr;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: right;
  direction: rtl;
  border-radius: 15px;
  border: 1px solid #20202629;
  color: var(--text-color-2);
  background: var(--background-1);
  padding: 15px 15px 15px 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.title {
  margin-bottom: 5px;
  color: var(--text-color-1);
  font-size: 1em;
}

.cardsIcon {
  position: absolute;
  left: 5px;
  top: -30px;
  width: 100px;
  height: 150px;
  z-index: 2;
}

@media screen and (max-width: 678px) {
  .whyContainer {
    padding: 88px 16px;
    gap: 32px;
  }
  .text {
    font-size: 1em;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .cards {
    /* padding: 15px 15px 15px 50px; */
    width: 100%;
  }

  .whyIcons {
    width: 60%;
    height: 100%;
    top: 10%;
    left: 0px;
  }
  .cardsIcon {
    top: -28px;
    min-width: 15%;
    min-height: 25%;
    z-index: 2;
  }
}
