.head {
  position: fixed;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  direction: rtl;
  justify-content: space-between;
  background-color: #060c13;
  border-bottom: 1px solid #049dd9;
  z-index: 1000;
}
.button {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 4px;
}
.button a {
  text-decoration: none;
}
.button:hover {
  color: #ffffff;
  cursor: pointer;
}
.but_1 {
  display: flex;
  width: 36px;
  height: 36px;
  color: white;
  padding: 6px 16px 14px 16px;
  border-radius: 24px;
  border: 1px solid #ffffff52;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  font-size: 14px;
  text-align: right;
  align-items: center;
  justify-content: center;
  background-color: #060c13;
}
.but_2 {
  display: flex;
  height: 40px;
  color: #c0ecf5;
  align-items: center;
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid #049dd9;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #060c13;
}
.container {
  height: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  direction: rtl;
  overflow: hidden;
}
.pages {
  display: flex;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: grey;
}
.pages:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1000;
}
.menu {
  position: fixed;
  top: 35px;
  right: 0;
  width: 225px;
  height: 200vh;
  padding: 10px;
  color: white;
  background-color: #060c13ef;
}
.handleMenu {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 12px;
}
.handleMenu ul {
  padding: 0;
}
.navLink {
  color: #ffffffab;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}
.handlePageTitles {
  margin: 12px 0;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #49778963;
  text-decoration: none;
}
.handlePageTitles:hover {
  transition: 0.3s;
  background-color: #0aaeefb2;
}
.handleButton {
  background: #049dd990;
  color: #fff;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.handleButton:hover {
  background-color: #049dd9;
  cursor: pointer;
}
.menuContainer {
  display: none;
}
@media screen and (max-width: 678px) {
  .head {
    padding: 4px 8px;
  }
  .container {
    gap: 8px;
    font-size: 0.4em;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .button {
    gap: 2px;
    min-width: 20%;
    min-height: 100%;
  }
  .but_2 {
    font-size: 0.8em;
    padding: 8px 24px;
  }
  .but_1 {
    font-size: 12px;
    display: none;
  }
  .photo {
    width: 70%;
  }
  .log {
    max-height: 50%;
    max-width: 50%;
  }
  .menuContainer {
    display: block;
  }
}
@media screen and (min-width: 679px) and (max-width: 1024px) {
  .head {
    padding: 8px 16px;
    gap: 16px;
    min-width: 100%;
  }
  .container {
    font-size: 0.8em;
    overflow: hidden;
    justify-content: space-between;
    /* align-items: center; */
  }
  .button {
    gap: 4px;
  }
  .but_2 {
    padding: 8px 16;
    font-size: 0.6em;
  }
  .but_1 {
    font-size: 0.6em;
  }

  .photo {
    width: 100%;
    height: 100%;
  }
  .log {
    height: 30%;
    width: 30%;
  }
  .statusMenu {
    display: none;
  }
}
