.head {
  background-color: #060c13;
  padding: 10px 60px;
  display: flex;
  height: 52px;
  align-items: center;
  border-bottom: 1px solid #049dd9;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  gap: 16px;
  direction: rtl;
}

.button {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 4px;
}

.but_1 {
  display: flex;
  width: 36px;
  height: 36px;
  color: white;
  padding: 6px 16px 14px 16px;
  border-radius: 24px;
  border: 1px solid #ffffff52;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  font-size: 14px;
  text-align: right;
  align-items: center;
  justify-content: center;
  background-color: #060c13;
}

.but_2 {
  display: flex;
  height: 40px;
  color: #c0ecf5;
  align-items: center;
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid #049dd9;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #060c13;
}

.container {
  display: flex;
  gap: 24px;
  align-items: start;
  justify-content: center;
  color: grey;
  direction: rtl;
  height: 28px;
}
@media screen and (max-width: 678px) {
  .head {
    padding: 8px;
    min-width: 100%;
  }
  .container {
    gap: 8px;
    font-size: 0.4em;
    align-items: center;
    display: none;
  }
  .button {
    gap: 2px;
    min-width: 20%;
    min-height: 100%;
  }
  .but_2 {
    font-size: 0.5em;
    padding: 4px 16px;
  }
  .but_1 {
    font-size: 12px;
    display: none;
  }
  .logo {
    align-items: start;
    justify-content: center;
    min-width: 15%;
  }
  .photo {
    width: 70%;
    height: 30%;
  }
  .log {
    max-height: 50%;
    max-width: 50%;
  }
}

.home {
  color: white;
  border-bottom: 2px solid #049dd9;
}
.container a {
  color: grey;
  text-decoration: none;
}

.container a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  direction: rtl;
  display: flex;
  gap: 8px;
  z-index: 1000;
}

@media screen and (min-width: 679px) {
  .head {
    padding: 8px 20px;
    gap: 16px;
    min-width: 100%;
  }
  .container {
    gap: 10px;
    font-size: 0.9em;
    overflow: hidden;
  }
  .button {
    gap: 4px;
  }
  .but_2 {
    padding: 8px 12px;
    font-size: 0.7em;
  }
  .but_1 {
    font-size: 0.7em;
  }
  .logo {
    justify-content: center;
    align-items: center;
  }
  .photo {
    width: 70%;
    height: 50%;
  }
  .log {
    max-height: 60%;
    max-width: 60%;
  }
  .statusMenu {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 35px;
  right: 0;
  width: 225px;
  height: 200vh;
  padding: 10px;
  color: white;
  background-color: #060c13ef;
}
.handleMenu {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 8px;
}
.handlePageTitles a {
  text-decoration: none;
}
.handlePageTitles a :hover {
  transition: 0.3s;
  background-color: #0aaeef90;
}

.handlePageTitles h3 {
  color: #fff;
  margin: 8px 0;
  display: flex;
  gap: 4px;
  height: 40px;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #49778963;
}
.handleButton {
  background: #049dd990;
  color: #fff;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.handleButton:hover {
  background-color: #049dd9;
  cursor: pointer;
}
