.foot {
  background: #060c13;
  padding: 80px 109px;
  width: 100%;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  /* color: white; */
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 220px;
}
.socialMediaContainer a {
  cursor: pointer;
}
.communication {
  direction: rtl;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.communication div {
  width: 20%;
  color: #ffffff99;
}
.logo {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
.log {
  cursor: pointer;
}
.brack {
  width: 100%;
  color: #ffffff33;
  display: block;
  text-align: center;
}
.option {
  text-decoration: none;
  display: flex;
  color: #ffffff99;
}
.title {
  color: white;
  font-size: 1.2em;
}
.optionContainer {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.optionContainer h4 {
  color: #fff;
  font-size: 1.1em;
}
@media screen and (max-width: 650px) {
  .foot {
    padding: 40px 20px;
  }
  .container {
    padding: 0 20px;
  }
  .communication {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .communication div {
    width: auto;
    text-align: center;
  }
  .optionContainer {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    justify-content: center;
  }
}
@media screen and (min-width: 651px) and (max-width: 1024px) {
  .foot {
    padding: 40px 10px;
  }
  .container {
    padding: 0 10px;
  }
  .communication {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .communication div {
    width: auto;
    text-align: center;
  }
  .optionContainer {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    justify-content: center;
  }
}

.ll1 {
  color: red;
}
.ll2 {
  background-color: aqua;
}
